.game-title-wrapper {
  .game-heading {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1.5px;
    font-size: 50px;
    background-image: linear-gradient(to right, #B71C1C, #F57F17, #B71C1C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px 0 0px 0;
  }

    P {
      text-align: center;
      color: red;
      font-size: 20px;
      margin-top: 40px;
    }
}

.score-card {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;

  .current-score {
    margin-right: 50px;
  }
}

.pokemon-cards-wrapper {
  width: 60%;
  margin: 20px auto;

  .pokemon-cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap
  }

  .pokemon-card {
    box-sizing: border-box;
    border: 1px solid black;
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
    margin-top: 30px;

    h2 {
      margin: 0;
      margin-top: 25px;
      font-family: 'Poppins', sans-serif;
    }

    &:hover {
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

  }
}